@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FORCER LE FOND GLOBAL */
html,
body,
#root {
  height: 100%;
  background-color: #f3f4f6;
  /* gray-100 */
}

body {
  margin: 0;
}